numpy==1.26.4
pandas
pillow==10.2.0
python
reportlab==4.1.0
requests==2.31.0
scikit-learn==1.4.1.post1
SciPy==1.11.4
seaborn==0.13.2
simplejson==3.19.2
six==1.16.0
smmap==5.0.2
soupsieve==2.5
stack-data==0.6.3
streamlit
toml==0.10.2
tqdm==0.0.0
xdg==5
xgboost==2.0.3
xkit==0.0.0
